.App {
  background-color: rgb(250, 218, 77);
}

.App-header {
  background-color: rgb(250, 218, 77);
  text-align: center;
  display: flex;
  justify-content: center;
  
}

.App-link {
  color: #00025e;
}

.header__container {
  width: 80%;
  background: rgb(248, 237, 136);
  margin: 150px;
  border-radius: 25px;
  border: 3px solid rgb(80, 0, 0);
  margin: 0 auto;
}

.header__title {
  color: black;
  font-size: 32px;
}

.fieldset {
  width: 200px;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
  border-radius: 20px;
  text-align: left;
}

.button {
  margin: 10px;
}

.input {
  margin-bottom: 10px;
  display: block;
  text-align: left;
}

.user {
  margin: 0 auto;
  width: 300px;
  background: rgb(255, 231, 124);
  border: 1px solid rgb(80, 0, 0);
  display: inline-block;
  margin: 20px;
  text-align: center;
  padding-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .4);
}

.todoList {
  border: 1.5px solid rgb(80, 0, 0);
  border-radius: 25px;
  width: 40%;
  display: block;
  text-align: center;
  margin-left: 32%;
  margin-top: 30px;
  margin-bottom: 15px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .4);
}